################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Green Apple Solution Passaggio conesgne/Green Apple Solution Passaggio conesgne
